pkgbase = xddns
	pkgdesc = Dynamic DNS updater
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/IceflowRE/xddns
	install = xddns.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = go
	options = !debug
	backup = etc/xddns.yaml
	source = xddns-0.1.0.tar.gz::https://github.com/IceflowRE/xddns/archive/refs/tags/v0.1.0.tar.gz
	source = xddns.service
	source = xddns.sysusers
	source = xddns.example.yaml
	sha256sums = 1eeade773c485a6d58ebda652b83bae756e007946d7a8263cc2da50b466ad0d9
	sha256sums = 3e8537e61d51dd4c47879444ab5275514d4da9ba172d57d7fdbba3d2e40f964f
	sha256sums = 39604d099204cf6318ede27df796b93c2f542a5e50b30670a22bbeaaf2e1c2e0
	sha256sums = 98e3cc94b18c08017af8dc8c089082357f6d10dc543e86b5706ff9d5c924dc5a

pkgname = xddns
